<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zdatbit.user.domain.User" >

<!--查询-->
<select id="selectUser" parameterType="int" resultType="User">
    select * from user where userID=${id}
</select>
<!--单个添加-->
<insert id="insertUser" useGeneratedKeys="true" keyProperty="userID">
    insert into user (userName,phone)
    values (${userName},${phone})
</insert>
<!--批量添加-->
<insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">
    insert into user (userName,phone)
    <foreach item="item" collection="list" separator=",">
        (#{item.userName},#{item.phone})
    </foreach>
</insert>
</mapper>